#log_turn, #log_round, #log_action{
        cursor:pointer;
}
.log_turns {
    margin-left: 1em;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}
.log_rounds {
    margin-left: 1em;
    margin-top: 0;
    margin-bottom: 1em;
    list-style-type: circle;
    font-size: medium;
    cursor: pointer;
}
.log_actions {
    margin-left: 1em;
    margin-top: 0;
    margin-bottom: 1em;
    list-style: square url('http://www.webbossuk.com/admin/images/reply-arrow.png');
    font-weight: normal;
    cursor: pointer;
}
.ipo {
    border-color:red
}
.red {
    background:red
}
.yellow {
    background:yellow
}
.stock_rising {
    color:green
}
.stock_falling {
    color:blue
}
